.bio-container {
    margin-bottom: 2rem;
}

.bio-text {
    margin-top: 2rem;
    font-size: 20px;
}

.icon-container {
    margin-top: 2.5rem;
}

.icon-col {
    padding-right: 1.5rem;
}

i {
    font-size: 30px;
}