.bio-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.bio-photo-container img {
    width: 32vh;
    max-width: 300px;
    min-width: 200px;
    height: auto;
}

.bio-text {
    margin-top: 2rem;
    font-size: 22px;
}

.derivative-link {
    color: #FFAD33;
}

.derivative-link:hover {
    color: #FFAD33;
}

.aiarena-link {
    color: #90ECFF;
}

.aiarena-link:hover {
    color: #90ECFF;
}

.behaviour-link {
    color: #FF6E6E;
}

.behaviour-link:hover {
    color: #FF6E6E;
}

.access-link {
    color: #5CBEB5;
}

.access-link:hover{ 
    color: #5CBEB5;
}

.imagine-link {
    color: #2547DC;
}

.imagine-link:hover{ 
    color: #2547DC;
}

.ensightful-link {
    color: #A24FFE;
}

.ensightful-link:hover {
    color: #A24FFE;
}

.icon-container {
    margin-top: 2.5rem;
}

i {
    font-size: 35px;
}