.bio-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}

.bio-photo-container img {
    width: 32vh;
    max-width: 300px;
    min-width: 200px;
    height: auto;
}

.bio-text {
    margin-top: 2rem;
    font-size: 22px;
}

.imagine-link {
    color: #ff9e9e;
}

.imagine-link:hover{ 
    color: #ff9e9e;
}

.ensightful-link {
    color: #e5aef5;
}

.ensightful-link:hover {
    color: #e5aef5;
}

.icon-container {
    margin-top: 2.5rem;
}

i {
    font-size: 35px;
}