.item-return {
    width: 100px;
    margin: 2rem 0;
}

.item-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-banner img {
    max-width: 100%;
    max-height: 100%;
}

.item-text {
    font-size: 20px;
}

.item-skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 4rem;
}

.item-skill {
    display: inline;
	margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    white-space: nowrap;
    background-color: white;
    color: black;
    font-weight: bold;
}

.col-md {
    margin-bottom: 3rem;
}

.tall-img {
    height: 19vw;
}

.short-img {
    height: 15vw;
}

.col-md img {
    width: 80%;
    
}

@media (max-width: 768px) { 
    .tall-img {
        height: 35vw;
    }    

    .short-img {
        height: 30vw;
    }
}

.col-md a {
    text-decoration: none;
    display: inline;
    padding: 0.5rem;
    border-radius: 20px;
    color: #d1384d;
    font-weight: bold;
    white-space: nowrap;
    background-image: linear-gradient(to bottom right, #ebe4e4, #c4bcbc);
}