* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
}

section {
    margin-bottom: 4rem;
}

.narrow-section {
    width: 700px;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
}

.wide-section {
    width: 1200px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

img {
    border-radius: 5px;
    border: 2px solid white;
}

.navbar-container {
    margin-top: 4rem;
    padding: 0 5rem;
}

.col-sm {
    margin-bottom: 0.5rem;
}

.nav-text {
    font-size: 20px;
}